

button {
    all: unset;
    font-weight: 500;
    color: var(--text-heightlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    
    &.btn-primary {
        color: white;
        background-color: var(--brand-dark);
        margin-left: auto;

        &:hover, &:focus {
            background-color: var(--brand-mid);
        }
    }
    &.btn-secondary {
        
        border: 1px solid var(--text-heightlight);

        &:hover, &:focus {
            color: var(--brand-dark);
            outline: .25rem solid var(--surface-secondary);
        }
    }
}